node_modules/
.pnpm-store/
dist/
.vite/
.env
.env.*
!.env.example
coverage/
*.log
.DS_Store
*.zip
*.tar.gz
ai_adapter-v2.tar
*.tar
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.Z
*.tar.bz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz