@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 8 33% 97%;
    --foreground: 348 14% 14%;
    --card: 0 0% 100%;
    --card-foreground: 348 14% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 348 14% 14%;
    --primary: 348 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 348 30% 95%;
    --secondary-foreground: 348 14% 14%;
    --muted: 348 30% 94%;
    --muted-foreground: 348 10% 43%;
    --accent: 348 30% 94%;
    --accent-foreground: 348 14% 14%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 348 22% 89%;
    --input: 348 22% 89%;
    --ring: 348 100% 64%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 330 14% 6%;
    --foreground: 330 20% 92%;
    --card: 330 14% 9%;
    --card-foreground: 330 20% 92%;
    --popover: 330 14% 9%;
    --popover-foreground: 330 20% 92%;
    --primary: 348 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 12% 16%;
    --secondary-foreground: 330 20% 92%;
    --muted: 330 12% 16%;
    --muted-foreground: 330 12% 64%;
    --accent: 330 12% 16%;
    --accent-foreground: 330 20% 92%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 330 12% 18%;
    --input: 330 12% 18%;
    --ring: 348 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
